
<!-- Formulario -->
        div(class="jumbotron")
            h1(style="color:blue;") Ingrese datos
            br
            form(action="/productos" method="post")
                div(class="form-group")
                    label(for="title")
                        b Title
                    input(id="title" class="form-control" type="text" name="title" onchange="")
                
                div(class="form-group")
                    label(for="price")
                    b price
                    input(id="price" class="form-control" type="text" name="price")
                
                div(class="form-group")
                    label( for="thumbnail")
                    b Image
                    input(id="thumbnail" class="form-control" type="text" name="thumbnail")
                
                div(class="form-group")
                    label( for="stock")
                    b Stock
                    input(id="stock" class="form-control" type="text" name="stock")

                div(class="form-group")
                    label( for="descripcion")
                    b Descripcion
                    input(id="descripcion" class="form-control" type="text" name="descripcion")    
                
                button(class="btn btn-success mt-3 mb-5") Enviar
            